<div class="element-bg-img"><img src="../../assets/1.jpg" alt="" class="img-responsive"> </div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
      <ng-container *ngIf="widgetItems$ | async as typedItems; else loadingTemplate">
        <li *ngFor="let typedItem of typedItems | typeFilter; index as j; last as isLast" [ngClass]="{'anc-bor': isLast}"><a href="#">{{typedItem}}</a></li>
      </ng-container>
    </ul>
  </div>
  <div class="village">
    <h3>Гостиницы и информация</h3>
    <span class="line"> </span>
    <div class="activity_box">
      <div class="scrollbar" id="style-2">
        <ng-container *ngIf="widgetItems$ | async as widgetItems; else loadingTemplate">
          <ng-container *ngFor="let item of widgetItems; index as i">
            <app-widget-item [widgetItem] = item></app-widget-item>
          </ng-container>
        </ng-container>
        <ng-template #loadingTemplate>Загрузка...</ng-template>
      </div>
    </div>
  </div>
</div>
